<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @enrollment.person.name %>
</p>

<p>
  <strong>Training session:</strong>
  <%= @enrollment.training_session.name %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
